In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy
import seaborn as sns
from sklearn.cluster import KMeans

## loading data

In [2]:
data = pd.read_csv('sina-data.csv')
data

,order_id,order_date,customer_id,customer_name,customer_phone,order_total,products_in_order
0,3016913,11/30/2024 12:11,79818,,989127050436,86000,فونت چاپگرهای سوزنی
1,3016912,11/29/2024 15:17,59360,سینا,989923863357,20000,فونت فارسی کرشمه
2,3016909,11/29/2024 15:17,59360,سینا,989923863357,146000,"فونت فارسی پلاسما, دانلود فونت کاغذ الف, فونت ..."
3,3016910,11/29/2024 15:17,59360,سینا,989923863357,37000,فونت فارسی پلاسما
4,3016911,11/29/2024 15:17,59360,سینا,989923863357,89000,دانلود فونت کاغذ الف
...,...,...,...,...,...,...,...
155846,2816120,3/3/2017 22:19,0,NaN,9357183506,15000,دانلود فونت اراپیکس - arapix font
155847,2816089,3/3/2017 8:01,0,NaN,9147898328,19900,دانلود نسخه جدید فونت بی یاقوت - دانلود فونت ب...
155848,2816084,3/2/2017 15:30,0,NaN,9192985148,19900,دانلود نسخه جدید فونت بی یاقوت - دانلود فونت ب...
155849,2840924,1399-05-21 22:24:40,8064,مصطفی محسنی,NaN,20000,تایپ فیس خراسان | Khorasan TypeFace
155850,2839496,1399-02-23 17:23:56,3501,شهاب ابراهیمی,9126278146,32000,بسته جامع فونت فارسی ایران فونت | بیش از 2000 قلم


# cleaning data

In [3]:
data.drop(columns=['customer_name' , 'customer_phone' , 'products_in_order'] , inplace = True)

In [4]:
data.info()
data.head()
data.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 155851 entries, 0 to 155850
Data columns (total 4 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   order_id     155851 non-null  int64
 1   order_date   155851 non-null  object
 2   customer_id  155851 non-null  int64
 3   order_total  155851 non-null  int64
dtypes: int64(3), object(1)
memory usage: 4.8+ MB

           order_id    customer_id   order_total
count  1.558510e+05  155851.000000  1.558510e+05
mean   2.922967e+06   22851.557584  1.129255e+04
std    6.199062e+04   21733.924969  1.252006e+06
min    2.645000e+03       0.000000  0.000000e+00
25%    2.879074e+06       0.000000  0.000000e+00
50%    2.922689e+06   20647.000000  0.000000e+00
75%    2.969526e+06   42212.500000  0.000000e+00
max    3.016913e+06   79818.000000  4.913800e+08

In [5]:
data.head()

   order_id        order_date  customer_id  order_total
0   3016913  11/30/2024 12:11        79818        86000
1   3016912  11/29/2024 15:17        59360        20000
2   3016909  11/29/2024 15:17        59360       146000
3   3016910  11/29/2024 15:17        59360        37000
4   3016911  11/29/2024 15:17        59360        89000

In [6]:


import datetime as dt

In [7]:
data['order_date'] = pd.to_datetime(data['order_date'] , errors='coerce')

In [8]:
data['order_date'].dropna(inplace=True)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 155851 entries, 0 to 155850
Data columns (total 4 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   order_id     155851 non-null  int64
 1   order_date   155849 non-null  datetime64[ns]
 2   customer_id  155851 non-null  int64
 3   order_total  155851 non-null  int64
dtypes: datetime64[ns](1), int64(3)
memory usage: 4.8 MB

In [9]:
data['order_date'].isna().count()

155851

In [10]:
data = data.dropna()

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 155849 entries, 0 to 155848
Data columns (total 4 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   order_id     155849 non-null  int64
 1   order_date   155849 non-null  datetime64[ns]
 2   customer_id  155849 non-null  int64
 3   order_total  155849 non-null  int64
dtypes: datetime64[ns](1), int64(3)
memory usage: 5.9 MB

In [12]:
data['order_date'] = data['order_date'].apply(lambda x : dt.datetime(x.year , x.month , x.day))

C:\Users\red pc\AppData\Local\Temp\ipykernel_11716\3528252993.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['order_date'] = data['order_date'].apply(lambda x : dt.datetime(x.year , x.month , x.day))

In [13]:
data

        order_id order_date  customer_id  order_total
0        3016913 2024-11-30        79818        86000
1        3016912 2024-11-29        59360        20000
2        3016909 2024-11-29        59360       146000
3        3016910 2024-11-29        59360        37000
4        3016911 2024-11-29        59360        89000
...          ...        ...          ...          ...
155844   2816130 2017-03-05           22        19900
155845   2816129 2017-03-05           21        54000
155846   2816120 2017-03-03            0        15000
155847   2816089 2017-03-03            0        19900
155848   2816084 2017-03-02            0        19900

[155849 rows x 4 columns]

#### Specify the start date

In [14]:
pin_date = max(data['order_date']) + dt.timedelta(1)
pin_date

Timestamp('2024-12-01 00:00:00')

### RFM data  : Last date of purchase , total order , count of purchase

In [15]:
rfm = data.groupby(data['customer_id']).agg({
    'order_date' : lambda x : (pin_date - x.max()).days ,
    'order_id' : 'count' ,
    'order_total' : 'sum'
})

In [16]:
rfm

             order_date  order_id  order_total
customer_id
0                   321     57330    292655920
1                   727        45    545686500
7                  1209         1        56000
20                  598         1            0
21                 2828         1        54000
...                 ...       ...          ...
79702                 4         1       297000
79710                 4         1        86000
79738                 3         1        99000
79758                 3         1        37000
79818                 1         1        86000

[47428 rows x 3 columns]

In [17]:
rfm.rename(columns=
    {
        'order_date' : 'recency' , 
        'order_id' : 'frequensy' , 
        'order_total' : 'monetory'
    } , inplace= True
)

rfm.head()

             recency  frequensy   monetory
customer_id
0                321      57330  292655920
1                727         45  545686500
7               1209          1      56000
20               598          1          0
21              2828          1      54000

In [18]:
rfm.info()
rfm.describe()

<class 'pandas.core.frame.DataFrame'>
Index: 47428 entries, 0 to 79818
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   recency    47428 non-null  int64
 1   frequensy  47428 non-null  int64
 2   monetory   47428 non-null  int64
dtypes: int64(3)
memory usage: 1.4 MB

            recency     frequensy      monetory
count  47428.000000  47428.000000  4.742800e+04
mean     746.407165      3.286012  3.710684e+04
std      420.890410    263.252524  2.844980e+06
min        1.000000      1.000000  0.000000e+00
25%      429.000000      1.000000  0.000000e+00
50%      594.000000      1.000000  0.000000e+00
75%     1105.000000      2.000000  5.400000e+03
max     2828.000000  57330.000000  5.456865e+08

### normalizing data with bucketing features

In [19]:
r_lable = range(4 , 0 , -1)
r_groups = pd.cut(rfm['recency'] , bins= 4 , labels=r_lable)
f_lable = range(1 , 5)
f_groups = pd.cut(rfm['frequensy'] , bins= 4 , labels=f_lable)
m_lable = range(1 , 5)
m_groups = pd.cut(rfm['monetory'] ,bins= 4 , labels=m_lable)

In [20]:
rfm.head()

             recency  frequensy   monetory
customer_id
0                321      57330  292655920
1                727         45  545686500
7               1209          1      56000
20               598          1          0
21              2828          1      54000

In [21]:
rfm['R'] = r_groups.values
rfm['F'] = f_groups.values
rfm['M'] = m_groups.values
rfm

             recency  frequensy   monetory  R  F  M
customer_id
0                321      57330  292655920  4  4  3
1                727         45  545686500  3  1  4
7               1209          1      56000  3  1  1
20               598          1          0  4  1  1
21              2828          1      54000  1  1  1
...              ...        ...        ... .. .. ..
79702              4          1     297000  4  1  1
79710              4          1      86000  4  1  1
79738              3          1      99000  4  1  1
79758              3          1      37000  4  1  1
79818              1          1      86000  4  1  1

[47428 rows x 6 columns]

In [ ]:
x = rfm[['R' , 'F' , 'M']]
x

             R  F  M
customer_id
0            4  4  3
1            3  1  4
7            3  1  1
20           4  1  1
21           1  1  1
...         .. .. ..
79702        4  1  1
79710        4  1  1
79738        4  1  1
79758        4  1  1
79818        4  1  1

[47428 rows x 3 columns]

In [23]:
kmeans = KMeans(n_clusters=5 , init='k-means++' , max_iter=300)
kmeans.fit(x)

KMeans(n_clusters=5)

In [24]:
rfm['km_cluster'] = kmeans.labels_
rfm

             recency  frequensy   monetory  R  F  M  km_cluster
customer_id
0                321      57330  292655920  4  4  3           4
1                727         45  545686500  3  1  4           1
7               1209          1      56000  3  1  1           1
20               598          1          0  4  1  1           0
21              2828          1      54000  1  1  1           3
...              ...        ...        ... .. .. ..         ...
79702              4          1     297000  4  1  1           0
79710              4          1      86000  4  1  1           0
79738              3          1      99000  4  1  1           0
79758              3          1      37000  4  1  1           0
79818              1          1      86000  4  1  1           0

[47428 rows x 7 columns]

In [ ]:
rfm.info()

<class 'pandas.core.frame.DataFrame'>
Index: 47428 entries, 0 to 79818
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   recency     47428 non-null  int64
 1   frequensy   47428 non-null  int64
 2   monetory    47428 non-null  int64
 3   R           47428 non-null  category
 4   F           47428 non-null  category
 5   M           47428 non-null  category
 6   km_cluster  47428 non-null  int32
dtypes: category(3), int32(1), int64(3)
memory usage: 1.8 MB

In [29]:
print(rfm['km_cluster'].unique())

[4 1 0 3 2]

In [35]:
rfm.describe()

            recency     frequensy      monetory    km_cluster
count  47428.000000  47428.000000  4.742800e+04  47428.000000
mean     746.407165      3.286012  3.710684e+04      0.433710
std      420.890410    263.252524  2.844980e+06      0.644113
min        1.000000      1.000000  0.000000e+00      0.000000
25%      429.000000      1.000000  0.000000e+00      0.000000
50%      594.000000      1.000000  0.000000e+00      0.000000
75%     1105.000000      2.000000  5.400000e+03      1.000000
max     2828.000000  57330.000000  5.456865e+08      4.000000

In [34]:
rfm[rfm['km_cluster'] == 4][['recency' , 'frequensy' ,'monetory' ]].mean()

recency            321.0
frequensy        57330.0
monetory     292655920.0
dtype: float64

In [42]:
x_2 = rfm[['recency' , 'frequensy' , 'monetory']]

In [43]:
kmeans_2 = KMeans(n_clusters= 5 , init='k-means++' , max_iter= 300)
kmeans_2.fit(x_2)

KMeans(n_clusters=5)

In [44]:
rfm['km_cluster2'] = kmeans_2.labels_
rfm

             recency  frequensy   monetory  R  F  M  km_cluster  km_cluster2
customer_id
0                321      57330  292655920  4  4  3           4            2
1                727         45  545686500  3  1  4           1            1
7               1209          1      56000  3  1  1           1            0
20               598          1          0  4  1  1           0            0
21              2828          1      54000  1  1  1           3            0
...              ...        ...        ... .. .. ..         ...          ...
79702              4          1     297000  4  1  1           0            4
79710              4          1      86000  4  1  1           0            0
79738              3          1      99000  4  1  1           0            0
79758              3          1      37000  4  1  1           0            0
79818              1          1      86000  4  1  1           0            0

[47428 rows x 8 columns]